#image {
  padding: 100px;
  background-color: black;
}

#phaddrar {
  padding-bottom: 100px;
  font-family: 'Poppins', sans-serif;

}

a {
  color: #69ffb4;
  font-family: 'Poppins', sans-serif;
  font-size: 150%;

}

h3{
  padding-top: 50px;
  color: #ff69b4;

}

#image p{
  color: #69ffb4;

}




}
